In [ ]:
import pandas as pd

df = pd.read_excel('data/online_retail_II.xlsx')

print(df.head())

print(df.info())

# Valores nulos por columna
print(df.isnull().sum())

# Estadísticas descriptivas
print(df.describe(include='all'))

# Distribución de países
print(df['Country'].value_counts())

# Correlaciones
print(df.corr(numeric_only=True))

# Duplicados
print(df.duplicated().sum())

  Invoice StockCode                          Description  Quantity  \
0  489434     85048  15CM CHRISTMAS GLASS BALL 20 LIGHTS        12
1  489434    79323P                   PINK CHERRY LIGHTS        12
2  489434    79323W                  WHITE CHERRY LIGHTS        12
3  489434     22041         RECORD FRAME 7" SINGLE SIZE         48
4  489434     21232       STRAWBERRY CERAMIC TRINKET BOX        24

          InvoiceDate  Price  Customer ID         Country
0 2009-12-01 07:45:00   6.95      13085.0  United Kingdom
1 2009-12-01 07:45:00   6.75      13085.0  United Kingdom
2 2009-12-01 07:45:00   6.75      13085.0  United Kingdom
3 2009-12-01 07:45:00   2.10      13085.0  United Kingdom
4 2009-12-01 07:45:00   1.25      13085.0  United Kingdom
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525461 entries, 0 to 525460
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      525461 non-null  object
 1   StockCode    525461 non-null  object
 2   Description  522533 non-null  object
 3   Quantity     525461 non-null  int64
 4   InvoiceDate  525461 non-null  datetime64[ns]
 5   Price        525461 non-null  float64
 6   Customer ID  417534 non-null  float64
 7   Country      525461 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 32.1+ MB
None
Invoice             0
StockCode           0
Description      2928
Quantity            0
InvoiceDate         0
Price               0
Customer ID    107927
Country             0
dtype: int64
         Invoice StockCode                         Description       Quantity  \
count   525461.0    525461                              522533  525461.000000
unique   28816.0      4632                                4681            NaN
top     537434.0    85123A  WHITE HANGING HEART T-LIGHT HOLDER            NaN
freq       675.0      3516                                3549            NaN
mean         NaN       NaN                                 NaN      10.337667
min          NaN       NaN                                 NaN   -9600.000000
25%          NaN       NaN                                 NaN       1.000000
50%          NaN       NaN                                 NaN       3.000000
75%          NaN       NaN                                 NaN      10.000000
max          NaN       NaN                                 NaN   19152.000000
std          NaN       NaN                                 NaN     107.424110

                          InvoiceDate          Price    Customer ID  \
count                          525461  525461.000000  417534.000000
unique                            NaN            NaN            NaN
top                               NaN            NaN            NaN
freq                              NaN            NaN            NaN
mean    2010-06-28 11:37:36.845017856       4.688834   15360.645478
min               2009-12-01 07:45:00  -53594.360000   12346.000000
25%               2010-03-21 12:20:00       1.250000   13983.000000
50%               2010-07-06 09:51:00       2.100000   15311.000000
75%               2010-10-15 12:45:00       4.210000   16799.000000
max               2010-12-09 20:01:00   25111.090000   18287.000000
std                               NaN     146.126914    1680.811316

               Country
count           525461
unique              40
top     United Kingdom
freq            485852
mean               NaN
min                NaN
25%                NaN
50%                NaN
75%                NaN
max                NaN
std                NaN
Country
United Kingdom          485852
EIRE                      9670
Germany                   8129
France                    5772
Netherlands               2769
Spain                     1278
Switzerland               1187
Portugal                  1101
Belgium                   1054
Channel Islands            906
Sweden                     902
Italy                      731
Australia                  654
Cyprus                     554
Austria                    537
Greece                     517
United Arab Emirates       432
Denmark                    428
Norway                     369
Finland                    354
Unspecified                310
USA                        244
Japan                      224
Poland                     194
Malta                      172
Lithuania                  154
Singapore                  117
RSA                        111
Bahrain                    107
Canada                      77
Thailand                    76
Hong Kong                   76
Israel                      74
Iceland                     71
Korea                       63
Brazil                      62
West Indies                 54
Bermuda                     34
Nigeria                     32
Lebanon                     13
Name: count, dtype: int64
             Quantity     Price  Customer ID
Quantity     1.000000 -0.001931    -0.011577
Price       -0.001931  1.000000    -0.003266
Customer ID -0.011577 -0.003266     1.000000
6865